DATABASE_URL=postgres://portfolio_manager:password@portfolio-manager-rust_db/portfolio_manager
REDIS_URL=redis://:password@portfolio-manager-rust_redis:6379/0
MONGODB_URL=mongodb://portfolio_manager:password@portfolio-manager-rust_mongo:27017
JWT_SECRET=secret