/* You can add global styles to this file, and also import other style files */

@import "bulma/css/bulma.css";

html, body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* pousse le footer en bas */
}